
module avail cuda # check the available cuda version, most highest version is recommended

pip3 install torch==2.4.0 --index-url https://download.pytorch.org/whl/cu124
pip3 install flash-attn --no-build-isolation
git clone https://github.com/volcengine/verl.git
cd verl
pip3 install -e .

pip install vllm==0.8.2 # maybe v0.6.3 occurs error
